
/*HEADER E NAVBAR*/


  .site-header{
    background-color: #3E3D69;
    
    }
  .fundo-gradient{
    background:linear-gradient(55deg, #317CDE,#2B4FAB);


  }
    
  .logo{
     margin-top: 50px;
    
    }

.fundo{
margin-top: 150px;
width: 70%;
margin-left: auto;
margin-right: auto;
padding: 3%; 
font-size: 1.2em; 


}


/*Borda do fundo*/
.fundo{

   border: 2px solid #A2DAD6;
   border-radius: 12px;
   padding: 5px;
  }

  /*Formatação das imgs*/

  .imagens{

    border: 2px solid #A2DAD6;
    border-radius: 12px;
    padding: 2px;

  }

  /*TÍTULOS*/


  /*Autor*/
  .autor {
    color: rgb(158, 156, 156);
  }

  /*FONT*/

  p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    margin-left: 2%;
    margin-right: 2%;
  }

